*{
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    background: url(./img/top.png);
    background-size: cover;
}

.divMain{
    margin: 2% 4% 2% 20%;
}

@media screen and (max-width: 1020px){
    .divMain{
        margin: 2% 4% 2% 4%;
    }
}

.tituloPrincipal {
    text-align: center;
    font-size: 5rem;
    background-color: rgb(0, 0, 0, 0.5);
    border-radius: 14px;
    padding: 0.5rem 0.5rem 0.5rem 1rem;
    color: rgb(199, 199, 81);
}

.descripcion{
    font-size: 1.1rem;
    margin: 0.5rem 0.5rem;
    background-color: rgb(0, 0, 0, 0.5);
    border-radius: 14px;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
}